*{
    padding: 0;
    margin: 0;
}

body{
    background: url("./img/bg.PNG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    
}